# **Merging DataFrames**

In [3]:
import pandas as pd

## First DataFrame

In [5]:
df_customers  = pd.DataFrame({
    "customer_id": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "name": ["John", "Jane", "Bob", "Alice", "John", "Jane", "Bob", "Alice", "John", "Jane"],
    "email": ["john@example.com", "jane@example.com", "bob@example.com", "alice@example.com", "john@example.com", "jane@example.com", "bob@example.com", "alice@example.com", "john@example.com", "jane@example.com"]
})

## Second DataFrame

In [12]:
df_orders = pd.DataFrame({
    "order_id": [1, 2, 3, 4, 5, 20, 30, 40, 50, 60],
    "customer_id": [1, 2, 3, 4, 5, 20, 30, 40, 50, 60],
    "order_date": ["2022-01-01", "2022-01-02", "2022-01-03", "2022-01-04", "2022-01-05", "2022-01-06", "2022-01-07", "2022-01-08", "2022-01-09", "2022-01-10"],
    "total_amount": [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]
})

## Inner Merge

In [13]:
df_merge = pd.merge(df_customers, df_orders, on='customer_id', how='inner')
print(df_merge)

   customer_id   name              email  order_id  order_date  total_amount
0            1   John   john@example.com         1  2022-01-01           100
1            2   Jane   jane@example.com         2  2022-01-02           200
2            3    Bob    bob@example.com         3  2022-01-03           300
3            4  Alice  alice@example.com         4  2022-01-04           400
4            5   John   john@example.com         5  2022-01-05           500

## Outer Merge

In [15]:
df_merge_outer = pd.merge(df_customers, df_orders, on='customer_id', how='outer')
print(df_merge_outer)

    customer_id   name              email  order_id  order_date  total_amount
0             1   John   john@example.com       1.0  2022-01-01         100.0
1             2   Jane   jane@example.com       2.0  2022-01-02         200.0
2             3    Bob    bob@example.com       3.0  2022-01-03         300.0
3             4  Alice  alice@example.com       4.0  2022-01-04         400.0
4             5   John   john@example.com       5.0  2022-01-05         500.0
5             6   Jane   jane@example.com       NaN         NaN           NaN
6             7    Bob    bob@example.com       NaN         NaN           NaN
7             8  Alice  alice@example.com       NaN         NaN           NaN
8             9   John   john@example.com       NaN         NaN           NaN
9            10   Jane   jane@example.com       NaN         NaN           NaN
10           20    NaN                NaN      20.0  2022-01-06         600.0
11           30    NaN                NaN      30.0  2022-01-07         700.0
12           40    NaN                NaN      40.0  2022-01-08         800.0
13           50    NaN                NaN      50.0  2022-01-09         900.0
14           60    NaN                NaN      60.0  2022-01-10        1000.0

## Left Merge

In [16]:
df_merge_left = pd.merge(df_customers, df_orders, on='customer_id', how='left')
print(df_merge_left)

   customer_id   name              email  order_id  order_date  total_amount
0            1   John   john@example.com       1.0  2022-01-01         100.0
1            2   Jane   jane@example.com       2.0  2022-01-02         200.0
2            3    Bob    bob@example.com       3.0  2022-01-03         300.0
3            4  Alice  alice@example.com       4.0  2022-01-04         400.0
4            5   John   john@example.com       5.0  2022-01-05         500.0
5            6   Jane   jane@example.com       NaN         NaN           NaN
6            7    Bob    bob@example.com       NaN         NaN           NaN
7            8  Alice  alice@example.com       NaN         NaN           NaN
8            9   John   john@example.com       NaN         NaN           NaN
9           10   Jane   jane@example.com       NaN         NaN           NaN

## Right Merge

In [17]:
df_merge_right = pd.merge(df_customers, df_orders, on='customer_id', how='right')
print(df_merge_right)

   customer_id   name              email  order_id  order_date  total_amount
0            1   John   john@example.com         1  2022-01-01           100
1            2   Jane   jane@example.com         2  2022-01-02           200
2            3    Bob    bob@example.com         3  2022-01-03           300
3            4  Alice  alice@example.com         4  2022-01-04           400
4            5   John   john@example.com         5  2022-01-05           500
5           20    NaN                NaN        20  2022-01-06           600
6           30    NaN                NaN        30  2022-01-07           700
7           40    NaN                NaN        40  2022-01-08           800
8           50    NaN                NaN        50  2022-01-09           900
9           60    NaN                NaN        60  2022-01-10          1000