# Country Data Merging with Pandas
This notebook demonstrates merging country datasets with popular places and famous persons using different join types.

## Import Required Libraries
Importing pandas library for data manipulation and merging operations.

In [21]:
import pandas as pd

## Load Country Popular Places Dataset
Loading the first dataset containing countries and their iconic popular tourist destinations.

In [22]:
df1 = pd.read_csv("country_data_1.csv")
df1.head()

          Country Popular_Place
0             USA  Grand Canyon
1  United Kingdom       Big Ben
2          France  Eiffel Tower
3           Italy     Colosseum
4           China    Great Wall

## Load Country Famous Persons Dataset
Loading the second dataset containing countries and their historically famous personalities.

In [23]:
df2 = pd.read_csv("country_data_2.csv")
df2.head()

          Country        Famous_Person
0             USA      Abraham Lincoln
1  United Kingdom  William Shakespeare
2          France   Napoleon Bonaparte
3           Italy    Leonardo da Vinci
4           China            Confucius

## Inner Merge on Country
Merging datasets using inner join to get only countries that exist in both datasets.

In [25]:
df3 = pd.merge(df1, df2, on="Country", how="inner")
print(df3)

          Country        Popular_Place        Famous_Person
0             USA         Grand Canyon      Abraham Lincoln
1  United Kingdom              Big Ben  William Shakespeare
2          France         Eiffel Tower   Napoleon Bonaparte
3           Italy            Colosseum    Leonardo da Vinci
4           China           Great Wall            Confucius
5           Japan           Mount Fuji       Hayao Miyazaki
6           India            Taj Mahal       Mahatma Gandhi
7          Brazil  Christ the Redeemer                 Pele
8           Egypt     Pyramids of Giza          Tutankhamun
9        Pakistan  Badshahi Mosque               Imran Khan

## Outer Merge on Country
Merging datasets using outer join to get all countries from both datasets with NaN for missing values.

In [26]:
df4 = pd.merge(df1, df2, on="Country", how="outer")
print(df4)

           Country         Popular_Place        Famous_Person
0        Argentina          Iguazu Falls                  NaN
1        Australia    Sydney Opera House                  NaN
2           Brazil   Christ the Redeemer                 Pele
3           Canada         Niagara Falls                  NaN
4            China            Great Wall            Confucius
5            Egypt      Pyramids of Giza          Tutankhamun
6           France          Eiffel Tower   Napoleon Bonaparte
7          Germany      Brandenburg Gate                  NaN
8            India             Taj Mahal       Mahatma Gandhi
9            Italy             Colosseum    Leonardo da Vinci
10           Japan            Mount Fuji       Hayao Miyazaki
11          Mexico         Chichen Itza                   NaN
12        Pakistan   Badshahi Mosque               Imran Khan
13          Russia            Red Square                  NaN
14    Saudi Arabia       Masjid al-Haram                  NaN
15     South Korea  Gyeongbokgung Palace                  NaN
16           Spain       Sagrada Familia                  NaN
17          Turkey          Hagia Sophia                  NaN
18             USA          Grand Canyon      Abraham Lincoln
19  United Kingdom               Big Ben  William Shakespeare

## Left Merge on Country
Merging datasets using left join to keep all countries from the popular places dataset.

In [27]:
df5 = pd.merge(df1, df2, on="Country", how="left")
print(df5)

           Country         Popular_Place        Famous_Person
0              USA          Grand Canyon      Abraham Lincoln
1   United Kingdom               Big Ben  William Shakespeare
2           France          Eiffel Tower   Napoleon Bonaparte
3            Italy             Colosseum    Leonardo da Vinci
4            China            Great Wall            Confucius
5            Japan            Mount Fuji       Hayao Miyazaki
6            India             Taj Mahal       Mahatma Gandhi
7           Brazil   Christ the Redeemer                 Pele
8            Egypt      Pyramids of Giza          Tutankhamun
9        Australia    Sydney Opera House                  NaN
10         Germany      Brandenburg Gate                  NaN
11          Canada         Niagara Falls                  NaN
12          Russia            Red Square                  NaN
13          Mexico         Chichen Itza                   NaN
14          Turkey          Hagia Sophia                  NaN
15           Spain       Sagrada Familia                  NaN
16       Argentina          Iguazu Falls                  NaN
17     South Korea  Gyeongbokgung Palace                  NaN
18    Saudi Arabia       Masjid al-Haram                  NaN
19        Pakistan   Badshahi Mosque               Imran Khan

## Right Merge on Country
Merging datasets using right join to keep all countries from the famous persons dataset.

In [28]:
df6 = pd.merge(df1, df2, on="Country", how="right")
print(df6)

          Country        Popular_Place        Famous_Person
0             USA         Grand Canyon      Abraham Lincoln
1  United Kingdom              Big Ben  William Shakespeare
2          France         Eiffel Tower   Napoleon Bonaparte
3           Italy            Colosseum    Leonardo da Vinci
4           China           Great Wall            Confucius
5           Japan           Mount Fuji       Hayao Miyazaki
6           India            Taj Mahal       Mahatma Gandhi
7          Brazil  Christ the Redeemer                 Pele
8           Egypt     Pyramids of Giza          Tutankhamun
9        Pakistan  Badshahi Mosque               Imran Khan