In [4]:
import pandas as pd

In [7]:
# First data set
df_customers = pd.read_csv("customers.csv")
df_customers

   customer_id           name                email region
0          101    Alice Smith    alice@example.com     US
1          102      Bob Jones      bob@example.com     EU
2          103  Charlie Brown  charlie@example.com     US
3          104     Dana White     dana@example.com   ASIA
4          105    Evan Wright     evan@example.com     EU

In [8]:
# Second Data Set
df_orders = pd.read_csv("orders.csv")
df_orders

   order_id  customer_id  amount        date
0      5001          101  250.50  2023-10-01
1      5002          102  120.00  2023-10-02
2      5003          101   60.00  2023-10-03
3      5004          999  300.00  2023-10-04
4      5005          102   45.99  2023-10-05

In [9]:
# Apply Merging
merged_inner = pd.merge(df_customers, df_orders, on="customer_id", how="inner")
print(merged_inner)

   customer_id         name              email region  order_id  amount  \
0          101  Alice Smith  alice@example.com     US      5001  250.50
1          101  Alice Smith  alice@example.com     US      5003   60.00
2          102    Bob Jones    bob@example.com     EU      5002  120.00
3          102    Bob Jones    bob@example.com     EU      5005   45.99

         date
0  2023-10-01
1  2023-10-03
2  2023-10-02
3  2023-10-05

In [10]:
merged_outer = pd.merge(df_customers, df_orders, on="customer_id", how="outer")
print(merged_outer)

   customer_id           name                email region  order_id  amount  \
0          101    Alice Smith    alice@example.com     US    5001.0  250.50
1          101    Alice Smith    alice@example.com     US    5003.0   60.00
2          102      Bob Jones      bob@example.com     EU    5002.0  120.00
3          102      Bob Jones      bob@example.com     EU    5005.0   45.99
4          103  Charlie Brown  charlie@example.com     US       NaN     NaN
5          104     Dana White     dana@example.com   ASIA       NaN     NaN
6          105    Evan Wright     evan@example.com     EU       NaN     NaN
7          999            NaN                  NaN    NaN    5004.0  300.00

         date
0  2023-10-01
1  2023-10-03
2  2023-10-02
3  2023-10-05
4         NaN
5         NaN
6         NaN
7  2023-10-04

In [11]:
merged_left = pd.merge(df_customers, df_orders, on="customer_id", how="left")
print(merged_left)

   customer_id           name                email region  order_id  amount  \
0          101    Alice Smith    alice@example.com     US    5001.0  250.50
1          101    Alice Smith    alice@example.com     US    5003.0   60.00
2          102      Bob Jones      bob@example.com     EU    5002.0  120.00
3          102      Bob Jones      bob@example.com     EU    5005.0   45.99
4          103  Charlie Brown  charlie@example.com     US       NaN     NaN
5          104     Dana White     dana@example.com   ASIA       NaN     NaN
6          105    Evan Wright     evan@example.com     EU       NaN     NaN

         date
0  2023-10-01
1  2023-10-03
2  2023-10-02
3  2023-10-05
4         NaN
5         NaN
6         NaN

In [12]:
merged_right = pd.merge(df_customers, df_orders, on="customer_id", how="right")
print(merged_right)

   customer_id         name              email region  order_id  amount  \
0          101  Alice Smith  alice@example.com     US      5001  250.50
1          102    Bob Jones    bob@example.com     EU      5002  120.00
2          101  Alice Smith  alice@example.com     US      5003   60.00
3          999          NaN                NaN    NaN      5004  300.00
4          102    Bob Jones    bob@example.com     EU      5005   45.99

         date
0  2023-10-01
1  2023-10-02
2  2023-10-03
3  2023-10-04
4  2023-10-05