# **Sorting**

In [1]:
import pandas as pd

Load Data

In [4]:
data = "unsorted_data.csv"
df = pd.read_csv(data)
print(df.head())

   EmployeeID FirstName LastName Department  Salary    JoinDate
0         105     Sarah   Connor         IT   75000  2021-03-15
1         102      John    Smith         HR   52000  2019-06-23
2         109     Emily    Davis  Marketing   68000  2022-01-10
3         101   Michael    Brown         IT   81000  2018-11-05
4         107     David   Wilson    Finance   60000  2020-08-19

### **Sort by one column**

In [16]:
# Sort the DataFrame by 'EmployeeID' in ascending order
df.sort_values(by='EmployeeID', inplace=True, ascending=True)
print(df.head())

   EmployeeID FirstName  LastName Department  Salary    JoinDate
3         101   Michael     Brown         IT   81000  2018-11-05
1         102      John     Smith         HR   52000  2019-06-23
5         103   Jessica    Miller         HR   54000  2021-09-30
7         104    Amanda  Anderson    Finance   62000  2019-12-01
0         105     Sarah    Connor         IT   75000  2021-03-15

In [17]:
# Sort the DataFrame by FirstName in ascending order
df.sort_values(by='FirstName', inplace=True, ascending=True)
print(df.head())

   EmployeeID FirstName  LastName Department  Salary    JoinDate
7         104    Amanda  Anderson    Finance   62000  2019-12-01
6         110     Chris    Taylor  Marketing   65000  2023-02-14
4         107     David    Wilson    Finance   60000  2020-08-19
2         109     Emily     Davis  Marketing   68000  2022-01-10
9         106  Jennifer  Martinez  Marketing   67000  2021-07-08

### **Sort Multiple Columns**

In [18]:
print(df.head())

   EmployeeID FirstName  LastName Department  Salary    JoinDate
7         104    Amanda  Anderson    Finance   62000  2019-12-01
6         110     Chris    Taylor  Marketing   65000  2023-02-14
4         107     David    Wilson    Finance   60000  2020-08-19
2         109     Emily     Davis  Marketing   68000  2022-01-10
9         106  Jennifer  Martinez  Marketing   67000  2021-07-08

In [21]:
# Sort the DataFrame by "EmployeeID", "Salary", and "JoinDate" in ascending order
df.sort_values(by=['EmployeeID', 'Salary', 'JoinDate'], inplace=True, ascending=[True, True, True])
print(df.head())

   EmployeeID FirstName  LastName Department  Salary    JoinDate
3         101   Michael     Brown         IT   81000  2018-11-05
1         102      John     Smith         HR   52000  2019-06-23
5         103   Jessica    Miller         HR   54000  2021-09-30
7         104    Amanda  Anderson    Finance   62000  2019-12-01
0         105     Sarah    Connor         IT   75000  2021-03-15

# **Aggregation**

In [22]:
# Apply Summry Statistics on the DataFrame
summary = df.describe()
print(summary)

       EmployeeID       Salary
count    10.00000     10.00000
mean    105.50000  65600.00000
std       3.02765   9057.83884
min     101.00000  52000.00000
25%     103.25000  60500.00000
50%     105.50000  66000.00000
75%     107.75000  71000.00000
max     110.00000  81000.00000

In [23]:
# Operations on Salary Column
salaries = df['Salary']
print("Salaries Column:")
print(salaries)

Salaries Column:
3    81000
1    52000
5    54000
7    62000
0    75000
9    67000
4    60000
8    72000
2    68000
6    65000
Name: Salary, dtype: int64

In [24]:
print("Sum of Salaries:", salaries.sum())
print("Mean of Salaries:", salaries.mean())
print("Median of Salaries:", salaries.median())
print("Standard Deviation of Salaries:", salaries.std())
print("Minimum Salary:", salaries.min())
print("Maximum Salary:", salaries.max())

Sum of Salaries: 656000
Mean of Salaries: 65600.0
Median of Salaries: 66000.0
Standard Deviation of Salaries: 9057.838839615355
Minimum Salary: 52000
Maximum Salary: 81000