# **Group Data (Practice)**

In [2]:
import pandas as pd

### Load Data
Reading data from file into DataFrame

In [3]:
data_path = "sales_data.csv"
df = pd.read_csv(data_path)
df.head()

,order_id,date,store_region,category,product,sales,quantity,profit
0,1,2025-01-01,North,Electronics,Laptop,1200,1,300
1,2,2025-01-01,South,Furniture,Chair,150,4,45
2,3,2025-01-02,North,Electronics,Mouse,25,10,10
3,4,2025-01-03,West,Office Supplies,Pens,10,20,5
4,5,2025-01-03,East,Electronics,Laptop,1200,1,300

### Group Data
Aggregating data by groups

In [4]:
# Group by "store_regin" and calculate total sales
grouped = df.groupby('store_region')['sales'].sum()
print(grouped)

store_region
East     1350
North    1675
South     560
West     1510
Name: sales, dtype: int64

### Group Data
Aggregating data by groups

In [5]:
# Group by "Product" and "Sales", then calculate total profit
grouped_multi = df.groupby(['product', 'sales'])['profit'].sum()
print(grouped_multi)

product  sales
Chair    150       67
Laptop   1200     900
Mouse    25        10
Paper    50        15
Pens     10        17
Table    300       60
Tablet   400      200
Name: profit, dtype: int64

### Group Data
Aggregating data by groups

In [6]:
# Check profit by Date
profit_by_date = df.groupby('date')['profit'].sum()
print(profit_by_date)

date
2025-01-01    345
2025-01-02     10
2025-01-03    305
2025-01-04     80
2025-01-05     75
2025-01-06     22
2025-01-07    312
2025-01-08    120
Name: profit, dtype: int64