In [2]:
import pandas as pd

In [3]:
data_path = "/content/drive/MyDrive/Pandas for Data Analysis/Day_04/student_results.csv"
df = pd.read_csv(data_path)
df.head()

,StudentID,FirstName,LastName,Math,Science,English,History,Total,Average,Grade
0,1001,Liam,Smith,85,92,78,88,343,85.75,B
1,1002,Olivia,Johnson,92,89,95,91,367,91.75,A
2,1003,Noah,Williams,76,82,80,75,313,78.25,C
3,1004,Emma,Brown,89,94,88,90,361,90.25,A
4,1005,Oliver,Jones,65,70,68,72,275,68.75,D

In [6]:
print(df.shape)

(100, 10)