# Day 11: DataFrame Row Manipulation with `.loc`

This notebook demonstrates how to update rows in a pandas DataFrame using the `.loc` accessor.

## Import Libraries

In [1]:
import pandas as pd

## Create Sample DataFrame

Creating a DataFrame with employee information including Name, Age, Salary, Performance Score, and Father's Name.

In [2]:
data = {
    "Name": ["Noman", "Iqbal", "Ali"],
    "Age": [10, 20, 30],
    "Salary": [2000, 5000, 60000],
    "Performance_Score": [5.5, 6.5, 7.8],
    "Father Name": ["Haji Mehmood", "Abdullah", "Ibne Adam"]
}
df = pd.DataFrame(data)
df

    Name  Age  Salary  Performance_Score   Father Name
0  Noman   10    2000                5.5  Haji Mehmood
1  Iqbal   20    5000                6.5      Abdullah
2    Ali   30   60000                7.8     Ibne Adam

## Update Row Using `.loc`

The `.loc` accessor allows us to update an entire row by its index. Here, we're replacing all values in row 0.

In [3]:
df.loc[0] = ["Shah Nawaz", 25, 50000, 6.5, "Muhammad Nawaz"]
df

         Name  Age  Salary  Performance_Score     Father Name
0  Shah Nawaz   25   50000                6.5  Muhammad Nawaz
1       Iqbal   20    5000                6.5        Abdullah
2         Ali   30   60000                7.8       Ibne Adam