### Import Libraries\nLoading required packages for data analysis

In [4]:
import pandas as pd

## Load Data

In [5]:
data_path = "/content/drive/MyDrive/Pandas for Data Analysis/Day_03/EmployeeID_Department.csv"

### Load Data\nReading data from file into DataFrame

In [6]:
df = pd.read_csv(data_path)

# **Work**

In [9]:
print(df.head(20))

    EmployeeID   Department  Age  Rating  Salary
0         1001        Sales   29       4   55000
1         1002  Engineering   34       5   92000
2         1003    Marketing   25       3   48000
3         1004           HR   41       4   61000
4         1005        Sales   30       2   51000
5         1006  Engineering   28       4   88000
6         1007      Finance   45       5   95000
7         1008    Marketing   27       3   49500
8         1009        Sales   33       4   58000
9         1010  Engineering   39       5  102000
10        1011      Finance   31       3   72000
11        1012           HR   26       4   53000
12        1013        Sales   42       3   60000
13        1014  Engineering   24       5   84000
14        1015    Marketing   35       2   50000
15        1016      Finance   50       4   98000
16        1017           HR   29       3   56000
17        1018        Sales   36       5   65000
18        1019  Engineering   27       4   89000
19        1020    Marketing   32       3   52000

### Preview Data\nViewing first/last rows of the dataset

In [12]:
# Select One Column
emp_id = df['EmployeeID']
print(emp_id.head())

0    1001
1    1002
2    1003
3    1004
4    1005
Name: EmployeeID, dtype: int64

### Preview Data\nViewing first/last rows of the dataset

In [13]:
# Select two or more columns
emp_id_dept = df[['EmployeeID', 'Department']]
print(emp_id_dept.head())

   EmployeeID   Department
0        1001        Sales
1        1002  Engineering
2        1003    Marketing
3        1004           HR
4        1005        Sales

# **Data Filtering**

In [14]:
print(df.head())

   EmployeeID   Department  Age  Rating  Salary
0        1001        Sales   29       4   55000
1        1002  Engineering   34       5   92000
2        1003    Marketing   25       3   48000
3        1004           HR   41       4   61000
4        1005        Sales   30       2   51000

### Preview Data\nViewing first/last rows of the dataset

In [18]:
# Shows Employees : Age > 25
age_filter = df['Age'] > 25
print(df[age_filter].head(10))

    EmployeeID   Department  Age  Rating  Salary
0         1001        Sales   29       4   55000
1         1002  Engineering   34       5   92000
3         1004           HR   41       4   61000
4         1005        Sales   30       2   51000
5         1006  Engineering   28       4   88000
6         1007      Finance   45       5   95000
7         1008    Marketing   27       3   49500
8         1009        Sales   33       4   58000
9         1010  Engineering   39       5  102000
10        1011      Finance   31       3   72000

### Preview Data\nViewing first/last rows of the dataset

In [19]:
# Shows Employees : Salary < 50000
salary_filter = df[df['Salary'] < 50000]
print(salary_filter.head())

    EmployeeID Department  Age  Rating  Salary
2         1003  Marketing   25       3   48000
7         1008  Marketing   27       3   49500
21        1022      Sales   23       2   47000
29        1030      Sales   25       3   49000
41        1042  Marketing   24       3   46000

### Preview Data\nViewing first/last rows of the dataset

In [21]:
# Shows Employees : Department = HR and Rating = 4
dept_filter = df[(df['Department'] == 'HR') & (df['Rating'] == 4)]
print(dept_filter.tail())

    EmployeeID Department  Age  Rating  Salary
33        1034         HR   29       4   55500
50        1051         HR   42       4   62000
61        1062         HR   34       4   59000
87        1088         HR   32       4   58000
92        1093         HR   43       4   63000