In [1]:
import pandas as pd

In [30]:
data = "/content/drive/MyDrive/Pandas for Data Analysis/Day_05/practice_data.csv"
df = pd.read_csv(data)
print(df.head())

   Transaction_ID        Date  Customer_Name Product_Category  Amount_Spent  \
0          1001.0  2025-01-01    Alice Smith      Electronics        450.50
1          1002.0  2025-01-02      Bob Jones             Home           NaN
2          1003.0         NaN  Charlie Brown      Electronics        120.00
3             NaN  2025-01-04   Diana Prince           Garden        300.25
4          1005.0  2025-01-05  Edward Norton              NaN         15.99

  Rating Member
0      5    Yes
1      4     No
2      3    Yes
3    NaN    Yes
4      2     No

In [31]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    14 non-null     float64
 1   Date              13 non-null     object
 2   Customer_Name     13 non-null     object
 3   Product_Category  13 non-null     object
 4   Amount_Spent      12 non-null     float64
 5   Rating            13 non-null     object
 6   Member            14 non-null     object
dtypes: float64(2), object(5)
memory usage: 972.0+ bytes
None

In [32]:
print(df.isnull().sum())

Transaction_ID      1
Date                2
Customer_Name       2
Product_Category    2
Amount_Spent        3
Rating              2
Member              1
dtype: int64

In [33]:
print(df['Transaction_ID'])

0     1001.0
1     1002.0
2     1003.0
3        NaN
4     1005.0
5     1006.0
6     1007.0
7     1008.0
8     1009.0
9     1010.0
10    1011.0
11    1012.0
12    1013.0
13    1014.0
14    1015.0
Name: Transaction_ID, dtype: float64

Fill Transaction_ID Column

In [34]:
df['Transaction_ID'].fillna(1004, inplace=True)
print(df.head())

   Transaction_ID        Date  Customer_Name Product_Category  Amount_Spent  \
0          1001.0  2025-01-01    Alice Smith      Electronics        450.50
1          1002.0  2025-01-02      Bob Jones             Home           NaN
2          1003.0         NaN  Charlie Brown      Electronics        120.00
3          1004.0  2025-01-04   Diana Prince           Garden        300.25
4          1005.0  2025-01-05  Edward Norton              NaN         15.99

  Rating Member
0      5    Yes
1      4     No
2      3    Yes
3    NaN    Yes
4      2     No

/tmp/ipython-input-1515805620.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Transaction_ID'].fillna(1004, inplace=True)

Fill Date Column

In [35]:
df['Date'].fillna(df['Date'].mode()[0], inplace=True)
print(df)

    Transaction_ID        Date    Customer_Name Product_Category  \
0           1001.0  2025-01-01      Alice Smith      Electronics
1           1002.0  2025-01-02        Bob Jones             Home
2           1003.0  2025-01-01    Charlie Brown      Electronics
3           1004.0  2025-01-04     Diana Prince           Garden
4           1005.0  2025-01-05    Edward Norton              NaN
5           1006.0  2025-01-06  Fiona Gallagher      Electronics
6           1007.0  2025-01-07              NaN             Home
7           1008.0  2025-01-08    George Miller           Garden
8           1009.0  2025-01-01    Hannah Abbott      Electronics
9           1010.0  2025-01-10       Ian Wright             Home
10          1011.0  2025-01-11         Jane Doe              NaN
11          1012.0  2025-01-12       Kevin Hart      Electronics
12          1013.0  2025-01-13     Laura Palmer           Garden
13          1014.0  2025-01-14              NaN      Electronics
14          1015.0  2025-01-15        Mike Ross             Home

    Amount_Spent   Rating   Member
0         450.50        5      Yes
1            NaN        4       No
2         120.00        3      Yes
3         300.25      NaN      Yes
4          15.99        2       No
5          89.00  Unknown      Yes
6         210.00        5       No
7            NaN        1      Yes
8          55.00        4      NaN
9           0.00        2       No
10        125.50        3      Yes
11           NaN        5       No
12         45.00      NaN       No
13        310.00        4      Yes
14         99.99        3  Unknown

/tmp/ipython-input-3160374378.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Date'].fillna(df['Date'].mode()[0], inplace=True)

Fill Customer_Name Column

In [36]:
df['Customer_Name'].fillna(df['Customer_Name'].mode()[0], inplace=True)
print(df)

    Transaction_ID        Date    Customer_Name Product_Category  \
0           1001.0  2025-01-01      Alice Smith      Electronics
1           1002.0  2025-01-02        Bob Jones             Home
2           1003.0  2025-01-01    Charlie Brown      Electronics
3           1004.0  2025-01-04     Diana Prince           Garden
4           1005.0  2025-01-05    Edward Norton              NaN
5           1006.0  2025-01-06  Fiona Gallagher      Electronics
6           1007.0  2025-01-07      Alice Smith             Home
7           1008.0  2025-01-08    George Miller           Garden
8           1009.0  2025-01-01    Hannah Abbott      Electronics
9           1010.0  2025-01-10       Ian Wright             Home
10          1011.0  2025-01-11         Jane Doe              NaN
11          1012.0  2025-01-12       Kevin Hart      Electronics
12          1013.0  2025-01-13     Laura Palmer           Garden
13          1014.0  2025-01-14      Alice Smith      Electronics
14          1015.0  2025-01-15        Mike Ross             Home

    Amount_Spent   Rating   Member
0         450.50        5      Yes
1            NaN        4       No
2         120.00        3      Yes
3         300.25      NaN      Yes
4          15.99        2       No
5          89.00  Unknown      Yes
6         210.00        5       No
7            NaN        1      Yes
8          55.00        4      NaN
9           0.00        2       No
10        125.50        3      Yes
11           NaN        5       No
12         45.00      NaN       No
13        310.00        4      Yes
14         99.99        3  Unknown

/tmp/ipython-input-2658190673.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Customer_Name'].fillna(df['Customer_Name'].mode()[0], inplace=True)

Fill Product_Catagory Column

In [37]:
df['Product_Category'].fillna(df['Product_Category'].mode()[0], inplace=True)
print(df)

    Transaction_ID        Date    Customer_Name Product_Category  \
0           1001.0  2025-01-01      Alice Smith      Electronics
1           1002.0  2025-01-02        Bob Jones             Home
2           1003.0  2025-01-01    Charlie Brown      Electronics
3           1004.0  2025-01-04     Diana Prince           Garden
4           1005.0  2025-01-05    Edward Norton      Electronics
5           1006.0  2025-01-06  Fiona Gallagher      Electronics
6           1007.0  2025-01-07      Alice Smith             Home
7           1008.0  2025-01-08    George Miller           Garden
8           1009.0  2025-01-01    Hannah Abbott      Electronics
9           1010.0  2025-01-10       Ian Wright             Home
10          1011.0  2025-01-11         Jane Doe      Electronics
11          1012.0  2025-01-12       Kevin Hart      Electronics
12          1013.0  2025-01-13     Laura Palmer           Garden
13          1014.0  2025-01-14      Alice Smith      Electronics
14          1015.0  2025-01-15        Mike Ross             Home

    Amount_Spent   Rating   Member
0         450.50        5      Yes
1            NaN        4       No
2         120.00        3      Yes
3         300.25      NaN      Yes
4          15.99        2       No
5          89.00  Unknown      Yes
6         210.00        5       No
7            NaN        1      Yes
8          55.00        4      NaN
9           0.00        2       No
10        125.50        3      Yes
11           NaN        5       No
12         45.00      NaN       No
13        310.00        4      Yes
14         99.99        3  Unknown

/tmp/ipython-input-3222918983.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Product_Category'].fillna(df['Product_Category'].mode()[0], inplace=True)

Fill Amoount_Spent Column

In [38]:
df['Amount_Spent'].fillna(df['Amount_Spent'].mean(), inplace=True)
print(df)

    Transaction_ID        Date    Customer_Name Product_Category  \
0           1001.0  2025-01-01      Alice Smith      Electronics
1           1002.0  2025-01-02        Bob Jones             Home
2           1003.0  2025-01-01    Charlie Brown      Electronics
3           1004.0  2025-01-04     Diana Prince           Garden
4           1005.0  2025-01-05    Edward Norton      Electronics
5           1006.0  2025-01-06  Fiona Gallagher      Electronics
6           1007.0  2025-01-07      Alice Smith             Home
7           1008.0  2025-01-08    George Miller           Garden
8           1009.0  2025-01-01    Hannah Abbott      Electronics
9           1010.0  2025-01-10       Ian Wright             Home
10          1011.0  2025-01-11         Jane Doe      Electronics
11          1012.0  2025-01-12       Kevin Hart      Electronics
12          1013.0  2025-01-13     Laura Palmer           Garden
13          1014.0  2025-01-14      Alice Smith      Electronics
14          1015.0  2025-01-15        Mike Ross             Home

    Amount_Spent   Rating   Member
0     450.500000        5      Yes
1     151.769167        4       No
2     120.000000        3      Yes
3     300.250000      NaN      Yes
4      15.990000        2       No
5      89.000000  Unknown      Yes
6     210.000000        5       No
7     151.769167        1      Yes
8      55.000000        4      NaN
9       0.000000        2       No
10    125.500000        3      Yes
11    151.769167        5       No
12     45.000000      NaN       No
13    310.000000        4      Yes
14     99.990000        3  Unknown

/tmp/ipython-input-338892160.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Amount_Spent'].fillna(df['Amount_Spent'].mean(), inplace=True)

Fill Rating Column

In [39]:
# Replace Unknown with Nan
df['Rating'].replace('Unknown', pd.NA, inplace=True)

/tmp/ipython-input-3074770934.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'].replace('Unknown', pd.NA, inplace=True)

In [40]:
# Convert Rating Column to Numeric
df['Rating'] = pd.to_numeric(df['Rating'])

In [41]:
print(df['Rating'])

0     5.0
1     4.0
2     3.0
3     NaN
4     2.0
5     NaN
6     5.0
7     1.0
8     4.0
9     2.0
10    3.0
11    5.0
12    NaN
13    4.0
14    3.0
Name: Rating, dtype: float64

In [43]:
# Fill Values
df['Rating'].fillna(df['Rating'].mean(), inplace=True)
print(df)

    Transaction_ID        Date    Customer_Name Product_Category  \
0           1001.0  2025-01-01      Alice Smith      Electronics
1           1002.0  2025-01-02        Bob Jones             Home
2           1003.0  2025-01-01    Charlie Brown      Electronics
3           1004.0  2025-01-04     Diana Prince           Garden
4           1005.0  2025-01-05    Edward Norton      Electronics
5           1006.0  2025-01-06  Fiona Gallagher      Electronics
6           1007.0  2025-01-07      Alice Smith             Home
7           1008.0  2025-01-08    George Miller           Garden
8           1009.0  2025-01-01    Hannah Abbott      Electronics
9           1010.0  2025-01-10       Ian Wright             Home
10          1011.0  2025-01-11         Jane Doe      Electronics
11          1012.0  2025-01-12       Kevin Hart      Electronics
12          1013.0  2025-01-13     Laura Palmer           Garden
13          1014.0  2025-01-14      Alice Smith      Electronics
14          1015.0  2025-01-15        Mike Ross             Home

    Amount_Spent    Rating   Member
0     450.500000  5.000000      Yes
1     151.769167  4.000000       No
2     120.000000  3.000000      Yes
3     300.250000  3.416667      Yes
4      15.990000  2.000000       No
5      89.000000  3.416667      Yes
6     210.000000  5.000000       No
7     151.769167  1.000000      Yes
8      55.000000  4.000000      NaN
9       0.000000  2.000000       No
10    125.500000  3.000000      Yes
11    151.769167  5.000000       No
12     45.000000  3.416667       No
13    310.000000  4.000000      Yes
14     99.990000  3.000000  Unknown

/tmp/ipython-input-2011508841.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'].fillna(df['Rating'].mean(), inplace=True)

Fill Member Column

In [44]:
df['Member'] = df['Member'].replace("Unknown", pd.NA)
df['Member'].fillna(df['Member'].mode()[0], inplace=True)

/tmp/ipython-input-1900207895.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Member'].fillna(df['Member'].mode()[0], inplace=True)

In [45]:
print(df['Member'])

0     Yes
1      No
2     Yes
3     Yes
4      No
5     Yes
6      No
7     Yes
8     Yes
9      No
10    Yes
11     No
12     No
13    Yes
14    Yes
Name: Member, dtype: object

# **Cleaned Data**

In [46]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    15 non-null     float64
 1   Date              15 non-null     object
 2   Customer_Name     15 non-null     object
 3   Product_Category  15 non-null     object
 4   Amount_Spent      15 non-null     float64
 5   Rating            15 non-null     float64
 6   Member            15 non-null     object
dtypes: float64(3), object(4)
memory usage: 972.0+ bytes
None

In [49]:
print(df.isnull().sum())

Transaction_ID      0
Date                0
Customer_Name       0
Product_Category    0
Amount_Spent        0
Rating              0
Member              0
dtype: int64